<div class="main profilesPage">
	<h2 class="pageHeading">Who <em>are</em> those dudes?</h2>
	<div id="peopleMenu">
	</div>
	<p>Action Hank is a comically populous band. Which is cool &#8211; but it can be hard to keep track of us all. So this is where you can find out some stuff about us all. Found out <%= profile_link('matttrumpet', "who wishes they had two built-up shoes?") %> And <%= profile_link('mattbass', "who customarily employs no shoes at all?") %></p>
	<p>Also, please enjoy this ready-reckoner!</p>
	<table id="readyReckoner" summary="A sort of chart, showing various attributes of the band members. The band members are listed in the top row, and the attributes are listed in the first column">
	 <col class="heads" />
	 <col class="person" />
	 <col class="person" />
	 <col class="person" />
	 <col class="person" />
	 <col class="person" />
	 <col class="person" />
	 <col class="person" />
	 <thead>
		<tr>
		 <th></th>
		 <th><%= profile_link 'ali' %></th>
		 <th><%= profile_link 'ben' %></th>
		 <th><%= profile_link 'chris' %></th>
		 <th><%= profile_link 'jon' %></th>
		 <th><%= profile_link 'mattbass', 'Matt' %></th>
		 <th><%= profile_link 'matttrumpet', 'Matt' %></th>
		 <th><%= profile_link 'thom' %></th>
		</tr>
	 </thead>
	 <tr>
		<th>Related by blood</th>
		<td></td>
		<td><p>yes</p></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><p>yes</p></td>
	 </tr>
	 <tr>
		<th>Related in romance</th>
		<td><p>yes</p></td>
		<td></td>
		<td><p>yes</p></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	 </tr>
	 <tr>
		<th>Know a lot about cars</th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td></td>
	 </tr>
	 <tr>
		<th>Blissfully married</th>
		<td></td>
		<td><p>yes</p></td>
		<td></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td></td>
		<td></td>
	 </tr>
	 <tr>
		<th>Are/were Scouts/Guides</th>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td></td>
		<td></td>
		<td></td>
		<td><p>yes</p></td>
	 </tr>
	 <tr>
		<th>Sport facial hair (deliberately)</th>
		<td></td>
		<td></td>
		<td></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td></td>
	 </tr>
	 <tr>
		<th>Rock climbers</th>
		<td><p>yes</p></td>
		<td></td>
		<td><p>yes</p></td>
		<td></td>
		<td></td>
		<td></td>
		<td><p>yes</p></td>
	 </tr>
	 <tr>
		<th>Can play the guitar</th>
		<td></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td><p>yes</p></td>
		<td></td>
		<td><p>yes</p></td>
	 </tr>
	</table>
</div>