<% sifr_replace('.latestnews h2', :day_roman, :bgcolor => '#426C09', :color => '#FFFFFF', :tweak_size => 40) %>
<div class="first">
  <div class="closestshow">
  <% if @event %>
    <p><%= @event %></p>
  	<%= link_to(image_tag('next_show.png', :alt => 'Next show!')) %>
  <% else %>  
    <p>We don't know when our next gig will be!</p>
    <%= image_tag('next_show.png', :alt => 'Next show!', :class => 'up arrow') %>
  <% end %>
  	<%= image_tag('other_places.png', :alt => 'Other places to go!', :class => 'down arrow') %>
  </div>
  <div class="latestnews">
  	<% if @story %>
  		<h2><%= @story.elements["title"].text %></h2>
  		<%= @story.elements["content"].text %>
  	<% else %>
  		<h2>This is the Action Hank web-site!</h2>
  		<p>... so feel free to stick around. OR! you can see all our photos on our <a href="http://www.flickr.com/actionhank">flickr page</a>, or you can look at our <a href="http://www.myspace.com/actionhank">myspace page</a> too!</p>
  	<% end %>
  </div>
  <div class="otherplaces">
  	<a href="http://www.myspace.com/actionhank" class="myspace">So anyway you can just go to our myspace page if you like it is all full of goodness and you can hear our songs and all</a>
  	<a href="http://www.cafepress.com/actionhank/" class="cafepress">You should totally buy a t-shirt off us. You'll be joining a select club if you do, that's for sure. Do us a favour at ...</a>
  </div>
</div>
<div class="second">
  <div class="mainPhoto">
  	<div class="blurb">
  		<p>Action Hank is a <a href="http://www.maps.google.co.uk/maps?oi=eu_map&amp;q=Guildford&amp;hl=en" title="Where?">Guildford</a>-based 7-piece band. Our main plan is to try and mix swing and big-band with <a href="http://www.punknews.co.uk/" title="Go to punknews">punk</a>. It&#39;s kind of like, through ska-punk and out of the other side.</p>
  		<p>Kind of.</p>
  	</div>
  	<%= render :partial => 'shared/photo', :locals => {:photo => @main_photo} %>
  </div>
  <div class="otherplaces">
  	<a href="http://www.punknews.co.uk/forum/index.php?board=46" class="punknews">Punknews is basically where we live on the internet so to say what's up or dang fellas what gives you better go there man</a>
  </div>
</div>