<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en">
	<head>
		<title>Action Hank</title>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
		<%= stylesheet_link_tag "main" %>
<!--[if lte IE 6]>
		<%= stylesheet_link_tag "lteie6" %>
<![endif]-->
		<%= javascript_include_tag "css3-multi-column" %>
		<%= sifr_head_generator -%>
	</head>
	<body>
		<div id="masthead">
			<div class="main">
				<h1 id="siteTitle"><%= link_to(image_tag("logo.png", :size => "87x49", :alt => "Action Hank"), {:controller => "home"}, :id => "homeLink", :title => "Go home!") %></h1>
				<ul id="mainMenu">
<% for page in Pages %>
					<li><%= link_to("<div><div><div>"+page[:name]+"</div></div></div>", {:controller => page[:controller]}, :title => page[:title]) %></li>
<% end %>
				</ul>
				<div class="cleared"></div>
			</div>
		</div>
		<div class="main">
<%= yield  %>
		</div>
		<%= sifr_body_generator -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11377736-1");
pageTracker._trackPageview();
} catch(err) {}</script>
	</body>
</html>